@import './theme.css';

html, body {
  background: var(--background-color);
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  background: var(--background-color);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drawer.drawer-top {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  background: var(--background-color);
  transition: max-height 0.7s cubic-bezier(0.4,0,0.2,1);
}

.drawer.drawer-top.open {
  max-height: 0px;
}