@import './theme.css';

html, body {
  background: var(--background-color);
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  background: var(--background-color);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mask-half {
  mask-image: linear-gradient(white, white);
  mask-size: 400px 400px;
  mask-repeat: no-repeat;
  mask-position: center bottom;
  -webkit-mask-image: linear-gradient(white, white);
  -webkit-mask-size: 400px 400px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center bottom;
}