.seven-segment-digit {
  position: relative;
  width: 64px;
  height: 112px;
  margin: 0 0px;
  display: inline-block;
}
/* .seg {
  position: absolute;
  border-radius: 3px;
  transition: 0.15s;
box-shadow: 0 0 6px #000000;
} */
.seg {
  position: absolute;
  border-radius: 0px;
  transition: 0.15s;
box-shadow: 0 0 0px #000000;
}
.a { top: 0; left: 6px; width: 20px; height: 6px; }
.b { top: 6px; right: 32px; width: 6px; height: 20px; }
.c { bottom: 10px; right: 0; width: 6px; height: 20px; }
.d { bottom: -2px; left: 6px; width: 20px; height: 6px; }
.e { bottom: 8px; left: 0; width: 6px; height: 20px; }
.f { top: 6px; left: 0; width: 6px; height: 20px; }
.g { top: 26px; left: 6px; width: 20px; height: 6px; }