.seven-segment-digit {
  position: relative;
  width: 50px;
  height: 100px;
  margin: 0 0px;
  display: inline-block;
}

.seg {
  position: absolute;
  border-radius: 3px;
  transition: 0.15s;
  box-shadow: 2px 2px 3px #0000008f inset;
}

.a { top: 0; left: 12px; width: 40px; height: 12px; }
.b { top: 12px; right: 0px; width: 12px; height: 40px; }
.c { bottom: 12px; right: 0px; width: 12px; height: 40px; }
.d { bottom: 0px; left: 12px; width: 40px; height: 12px; }
.e { bottom: 12px; left: 0; width: 12px; height: 40px; }
.f { top: 12px; left: 0; width: 12px; height: 40px; }
.g { top: 52px; left: 12px; width: 40px; height: 12px; }